# remember to add variable to github secrets, then frontend github action, and docker file
N8N_URL=https://n8n
N8N_TOKEN=
STRAPI_TOKEN=fullaccessstrapitokenhere
STRAPI_URL=http://localhost:1337
S3_ACCESS_KEY=
S3_SECRET_KEY=
AVATAR_BUCKET=#strapi v5 upload to s3 bucket name
MEDIA_BUCKET=#n8n s3 bucket name
CLIP_BUCKET=#clip bucket name
NEXT_PUBLIC_UMAMI_ID=#website umami analytics id
NEXT_PUBLIC_UMAMI_URL=#website umami analytics url
NEXT_PUBLIC_BASE_URL=http://localhost:3000
GLITCHTIP_ORG=your-org-slug
GLITCHTIP_PROJECT=your-project-slug
GLITCHTIP_AUTH_TOKEN=your-glitchtip-auth-token

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=

NEXT_PUBLIC_FREEMIUS_PRODUCT_ID=
NEXT_PUBLIC_FREEMIUS_PLAN_ID=
NEXT_PUBLIC_FREEMIUS_PUBLIC_KEY=
FREEMIUS_API_KEY=
FREEMIUS_SECRET_KEY=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_MONTHLY=
STRIPE_PRICE_ANNUAL=
STRIPE_PRICE_LIFETIME=

ANALYTICS_URL=
NEXT_PUBLIC_PLATFORM=